<div id="cardBody">
    <div id="headers">
        <h3>{{post.postedBy}}</h3>
        <h2>{{post.titulo}}</h2>
    </div>
    <div id="desc">
        <p>{{post.descripcion}}</p>
    </div>
    <div id="info">
        <div><h3>{{post.duracion}}</h3></div>
        <div><h3>{{post.costo}}</h3></div>
    </div>
    <div id="bnts">
        <div *ngIf="rol==='Companion'" id="dualbtn">

            <button>Editar</button>
            <button>Solicitar</button>
        </div>
        <div *ngIf="rol==='Acompanied'" id="singlebtn">
            <button>Solicitar</button>
        </div>
    </div>
</div>