<div id="body">
    <div class="main" id="panel">
        <div id="logo" (click)="onLogoClick()">
            <img src="logo.jpg" alt="It's a date logo">
        </div>
        <div id="side">
            
            <div class="sideOPT" (click)="toSettings()">
                <h2>Ajustes de usuario</h2>
            </div>
           
            <div class="sideOPT">
                <h2>Agenda</h2>
           
            </div>
            <div class="sideOPT" id="newPost" (click)="toPost()" *ngIf="rol === 'Companion'">
                <h2 id="post">+ Nuevo post </h2>
            </div>
        </div>
       
        
       
        <div id="logoff" (click)="cerrarSesion()">
            <h5>Cerrar serión</h5>
        </div>
    </div>
</div>